.bg-sabiduria {
  background-color: rgba(50, 30, 113, 0.9);
}

.bg-conocimiento {
  background-color: rgba(238, 22, 98, 0.9);
}

.bg-metrica {
  background-color: rgba(37, 64, 222, 0.9);
}

.bg-tecnologia {
  background-color: rgba(210, 42, 29, 0.9);
}

@font-face {
  font-family: "forest_line.ttf";
  src: url("../assets/fonts/forest_line_bold.ttf");
}

html, body {
  position: relative;
  height: 100%;
}

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.font-bold {
  font-weight: 900;
}

nav {
  background-color: #6a4eba;
  padding: 10px 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  nav {
    background-color: transparent;
    padding: 0;
  }
}

nav a.brand {
  margin-left: 20px;
  padding-top: 5px;
}

nav a.brand img {
  height: 50px;
}

nav ul.list-items {
  display: inline-block;
  padding-right: 5px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  nav ul.list-items {
    display: none;
  }
}

nav ul.list-items li {
  display: inline-block;
  list-style: none;
}

nav ul.list-items li a {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1em;
  text-decoration: none;
  padding: 0 15px;
  margin: 10px;
}

@media screen and (max-width: 1200px) {
  nav ul.list-items li a {
    font-size: 12px;
    padding: 0 10px;
  }
}

nav ul.list-items li a:hover {
  color: #e5b300;
}

nav ul.list-items li a.active {
  color: #e5b300;
}

.header-brand {
  background-color: #301e79;
  display: inline-block;
  padding: 12px 100px 8px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: -90px;
  position: absolute;
  z-index: 1000;
  top: 25px;
}

@media screen and (max-width: 767px) {
  .header-brand {
    margin-left: -90px;
    top: 10px;
  }
}

.header-brand .logo {
  display: inline-block;
}

.header-brand .logo img {
  height: 55px;
}

@media screen and (max-width: 1200px) {
  .header-brand .logo img {
    height: 35px;
  }
}

footer {
  background-color: #121921;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em 0;
}

@media screen and (max-width: 800px) {
  footer .container {
    padding: 20px 0 10px;
  }
}

footer .container .container-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 2fr 4fr;
      grid-template-columns: 6fr 2fr 4fr;
  grid-gap: 10px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 15px;
    text-align: center;
  }
}

footer .container .container-top .footer-title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.7px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .footer-title {
    font-size: 15px;
  }
}

footer .container .container-top .content-left img {
  max-height: 60px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .content-left img {
    max-height: 45px;
  }
}

footer .container .container-top .content-left p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 1.5em;
  max-width: 90%;
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .content-left p {
    font-size: 12px;
  }
}

footer .container .container-top .content-left div a {
  color: #ffffff;
  margin-left: 10px;
  padding: 0 5px;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .content-left div a {
    font-size: 14px;
  }
}

footer .container .container-top .content-middle ul {
  padding: 0;
}

footer .container .container-top .content-middle ul li {
  list-style: none;
  margin: 10px 0;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .content-middle ul li {
    margin: 5px 0;
  }
}

footer .container .container-top .content-middle ul li a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .content-middle ul li a {
    font-size: 14px;
  }
}

footer .container .container-top .content-right .contact {
  margin: 10px 0;
}

footer .container .container-top .content-right .contact i {
  width: 25px;
  text-align: center;
  font-size: 16px;
}

footer .container .container-top .content-right .contact span {
  font-weight: 300;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .content-right .contact span {
    font-size: 12px;
  }
}

footer .container .container-top .content-right h5 {
  font-weight: 700;
  font-size: 17px;
  margin-top: 30px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .content-right h5 {
    font-size: 14px;
  }
}

footer .container .container-top .content-right .form-group {
  margin-top: 15px;
}

footer .container .container-top .content-right .form-group input {
  padding: 10px;
  font-size: 13px;
  background-color: #1b2632;
  color: #ffffff;
  border: 0;
  min-width: 170px;
}

footer .container .container-top .content-right .form-group button {
  padding: 8px 12px;
  margin-left: -2px;
  background-color: #92278f;
  border: 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

footer .container .footer-line {
  height: 2px;
  background-color: #ffffff;
  background-color: #1b2632;
  margin: 2.5em 0 1.5em;
}

footer .container .container-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

@media screen and (max-width: 800px) {
  footer .container .container-bottom {
    padding: 15px;
  }
}

footer .container .container-bottom .content-left a {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

footer .container .container-bottom .content-left span {
  padding: 0 15px;
}

footer .container .container-bottom .content-right {
  text-align: right;
}

footer .container .container-bottom .content-right span {
  font-weight: 700;
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  footer .container .container-bottom .content-right span {
    font-size: 12px;
  }
}

#menu, .sub-menu {
  display: none;
  list-style: none;
}

ul#menu {
  padding: 70px 40px 15px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #6a4eba;
  bottom: 0;
  top: 0;
  text-align: right;
  height: 100vh;
}

ul#menu li {
  padding: 3px 0;
  margin: 5px 0;
}

ul#menu li a {
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 0;
  display: inline-block;
}

/*Change toggle size by adjusting width & height*/
.tb-menu-toggle {
  border: 0;
  position: absolute;
  background: transparent;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 15px;
  z-index: 1000;
  right: 5px;
}

/*Change toggle color here*/
.tb-menu-toggle i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.tb-menu-toggle i:nth-child(2) {
  top: 40%;
}

.tb-menu-toggle i:nth-child(3) {
  top: 80%;
}

/*Animation of the toggle*/
.tb-menu-toggle.tb-animate-toggle i:first-child,
.tb-menu-toggle.tb-animate-toggle i:nth-child(2) {
  top: 40%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tb-menu-toggle.tb-animate-toggle i:nth-child(3) {
  top: 40%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}

section#contact {
  background-image: url("../assets/images/background/bg-contacto.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

section#contact .wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 160px 0 100px;
}

section#contact .wrapper .wrapper-header {
  text-align: center;
  padding: 22px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4e0349+0,9614b4+100 */
  background: #4e0349;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#4e0349), to(#9614b4));
  background: linear-gradient(to right, #4e0349 0%, #9614b4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e0349', endColorstr='#9614b4',GradientType=1 );
  /* IE6-9 */
}

section#contact .wrapper .wrapper-header h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: .5px;
}

section#contact .wrapper .wrapper-body {
  background-color: #ffffff;
  padding: 40px 25px 30px;
}

section#contact .wrapper .wrapper-body form .form-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  grid-gap: 15px 25px;
}

section#contact .wrapper .wrapper-body form label {
  color: #a6a6a6;
  font-size: 13px;
  font-weight: 300;
  display: block;
}

section#contact .wrapper .wrapper-body form input,
section#contact .wrapper .wrapper-body form textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #a6a6a6;
  font-size: 13px;
  padding: 5px 0;
  outline: transparent;
  width: 100%;
  resize: none;
}

section#contact .wrapper .wrapper-body form .form-textarea {
  margin-top: 15px;
}

section#contact .wrapper .wrapper-body form .text-center {
  text-align: center;
}

section#contact .wrapper .wrapper-body form .text-center button {
  background-color: #3f9fff;
  padding: 8px 40px;
  margin: 30px 0 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  border: 0;
}

section#contact .wrapper .wrapper-body form .text-center p {
  color: #a6a6a6;
  max-width: 280px;
  margin: 0 auto 20px;
  font-size: 14px;
}

section#contact .wrapper .wrapper-body form .text-center span.smaller {
  color: #a6a6a6;
  font-size: 11px;
  margin-top: 20px;
}

section#quienes-somos .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.5fr 8.5fr;
      grid-template-columns: 3.5fr 8.5fr;
  grid-gap: 10px;
  padding: 130px 0 50px;
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  section#quienes-somos .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

section#quienes-somos .container h2 {
  color: #301e79;
  font-weight: 900;
  font-size: 2.5em;
  letter-spacing: -0.01em;
}

section#quienes-somos .container .content-left {
  padding: 30px;
  background-color: #e4ddf2;
}

section#quienes-somos .container .content-left img {
  max-width: 100%;
}

section#quienes-somos .container .content-right .clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100% !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#quienes-somos .container .content-right .clients img {
  max-height: 40px;
  margin: 10px;
}

section#clientes .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.3fr;
      grid-template-columns: 1fr 1.3fr;
}

@media screen and (max-width: 800px) {
  section#clientes .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

section#clientes .container .left-content {
  padding: 120px 2.5em 60px;
}

@media screen and (max-width: 800px) {
  section#clientes .container .left-content {
    text-align: center;
  }
}

section#clientes .container .left-content img {
  width: 180px;
  border-radius: 50%;
  margin-bottom: 20px;
}

section#clientes .container .left-content h2 {
  color: #301e79;
  font-weight: 900;
  font-size: 35px;
  letter-spacing: -0.01em;
  line-height: 1em;
}

@media screen and (max-width: 800px) {
  section#clientes .container .left-content h2 {
    font-size: 28px;
  }
}

section#clientes .container .left-content .position {
  font-size: 12px;
  margin: 0;
  color: #706f6f;
}

section#clientes .container .left-content .description {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.5em;
  text-align: justify;
  color: #706f6f;
}

section#clientes .container .right-content {
  padding: 200px 0 70px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 800px) {
  section#clientes .container .right-content {
    border-left: 0;
    height: 100%;
    padding: 0 30px 30px;
  }
}

section#clientes .container .right-content .brands {
  border-left: 1px solid #6a4eba;
  height: 100%;
  padding: 80px 30px 40px;
}

@media screen and (max-width: 800px) {
  section#clientes .container .right-content .brands {
    border-left: 0;
    height: 100%;
    padding: 0px;
  }
}

section#clientes .container .right-content .brands h3 {
  color: #706f6f;
  font-weight: 900;
  font-size: 25px;
  letter-spacing: -0.01em;
  line-height: 1em;
}

@media screen and (max-width: 800px) {
  section#clientes .container .right-content .brands h3 {
    font-size: 17px;
  }
}

section#clientes .container .right-content .brands .columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

section#clientes .container .right-content .brands .columns .logo {
  height: 40px;
  width: 100%;
  background-color: #a6a6a6;
  opacity: 0.5;
}

section#servicios {
  max-width: 1250px;
  margin: 0 auto 100px;
  padding-top: 150px;
}

@media screen and (max-width: 800px) {
  section#servicios {
    margin: 0 auto 50px;
    padding-top: 130px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

section#servicios .carousel-3d-container {
  margin: 0 !important;
}

section#servicios .carousel-3d-container figure {
  margin: 0;
}

section#servicios .carousel-3d-container figcaption {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  min-width: 100%;
  text-align: center;
  display: table;
}

section#servicios .carousel-3d-container figcaption .description {
  max-width: 80%;
  background-color: #ffffff;
  margin: 0 auto 15px;
  padding: 15px;
}

section#servicios .carousel-3d-container figcaption .description h2 {
  color: #6a4eba;
  font-weight: 900;
  font-size: 35px;
  letter-spacing: -0.01em;
  line-height: 1em;
}

@media screen and (max-width: 800px) {
  section#servicios .carousel-3d-container figcaption .description h2 {
    font-size: 22px;
  }
}

section#servicios .carousel-3d-container figcaption .description p {
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  section#servicios .carousel-3d-container figcaption .description p {
    font-size: 13px;
  }
}

section#servicios .carousel-3d-container figcaption .button {
  background-color: #ffffff;
  padding: 25px 0;
  margin-bottom: -1px;
}

section#servicios .carousel-3d-container figcaption .button button {
  border-radius: 20px;
  font-size: 15px;
  padding: 10px 30px;
  color: #301e79;
  border: 2px solid #301e79;
  background-color: #ffffff;
  font-weight: 600;
}

section#servicios .carousel-3d-slide,
section#servicios .carousel-3d-slide.current {
  border: none;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
  margin-top: -10px;
}

section#servicios .prev span,
section#servicios .next span {
  color: #fff;
  background-color: rgba(0, 103, 177, 0.9);
  border-radius: 0%;
  display: block;
  text-align: center;
  line-height: 80px;
  left: 10px;
  width: 80px;
  height: 80px;
  -webkit-transform: scale(0.6, 0.6);
          transform: scale(0.6, 0.6);
}

section#servicios a.next {
  right: 30px;
}
/*# sourceMappingURL=pages.css.map */