@font-face {
  font-family: "forest_line.ttf";
  src: url("../assets/fonts/forest_line_bold.ttf");
}

html, body {
  position: relative;
  height: 100%;
}

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.font-bold {
  font-weight: 900;
}

.hide-desktop {
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .hide-desktop {
    visibility: visible;
  }
}

@-webkit-keyframes meditation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes meditation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

nav {
  background-color: #6a4eba;
  padding: 10px 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  nav {
    background-color: transparent;
    padding: 0;
  }
}

nav a.brand {
  margin-left: 20px;
  padding-top: 5px;
}

nav a.brand img {
  height: 50px;
}

nav ul.list-items {
  display: inline-block;
  padding-right: 5px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  nav ul.list-items {
    display: none;
  }
}

nav ul.list-items li {
  display: inline-block;
  list-style: none;
}

nav ul.list-items li a {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1em;
  text-decoration: none;
  padding: 0 15px;
  margin: 10px;
}

@media screen and (max-width: 1200px) {
  nav ul.list-items li a {
    font-size: 12px;
    padding: 0 10px;
  }
}

nav ul.list-items li a:hover {
  color: #e5b300;
}

nav ul.list-items li a.active {
  color: #e5b300;
}

footer {
  background-color: #121921;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em 0 2.5em;
}

@media screen and (max-width: 800px) {
  footer .container {
    padding: 20px 0 10px;
  }
}

footer .container .container-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 2fr 4fr;
      grid-template-columns: 6fr 2fr 4fr;
  grid-gap: 10px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 15px;
    text-align: center;
  }
}

footer .container .container-top .footer-title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.7px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .footer-title {
    font-size: 15px;
  }
}

footer .container .container-top .content-left img {
  max-height: 60px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .content-left img {
    max-height: 45px;
  }
}

footer .container .container-top .content-left p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 1.5em;
  max-width: 90%;
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .content-left p {
    font-size: 12px;
  }
}

footer .container .container-top .content-left div a {
  color: #ffffff;
  margin-left: 10px;
  padding: 0 5px;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .content-left div a {
    font-size: 14px;
  }
}

footer .container .container-top .content-middle ul {
  padding: 0;
}

footer .container .container-top .content-middle ul li {
  list-style: none;
  margin: 10px 0;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .content-middle ul li {
    margin: 5px 0;
  }
}

footer .container .container-top .content-middle ul li a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .content-middle ul li a {
    font-size: 14px;
  }
}

footer .container .container-top .content-right .contact {
  margin: 10px 0;
}

footer .container .container-top .content-right .contact i {
  width: 25px;
  text-align: center;
  font-size: 16px;
}

footer .container .container-top .content-right .contact span {
  font-weight: 300;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .content-right .contact span {
    font-size: 12px;
  }
}

footer .container .container-top .content-right h5 {
  font-weight: 700;
  font-size: 17px;
  margin-top: 30px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 800px) {
  footer .container .container-top .content-right h5 {
    font-size: 14px;
  }
}

footer .container .container-top .content-right .form-group {
  margin-top: 15px;
}

footer .container .container-top .content-right .form-group input {
  padding: 10px;
  font-size: 13px;
  background-color: #1b2632;
  color: #ffffff;
  border: 0;
  min-width: 170px;
}

footer .container .container-top .content-right .form-group button {
  padding: 8px 12px;
  margin-left: -2px;
  background-color: #92278f;
  border: 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

footer .container .footer-line {
  height: 2px;
  background-color: #ffffff;
  background-color: #1b2632;
  margin: 2.5em 0 1.5em;
}

footer .container .container-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

@media screen and (max-width: 800px) {
  footer .container .container-bottom {
    padding: 15px;
  }
}

footer .container .container-bottom .content-left a {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

footer .container .container-bottom .content-left span {
  padding: 0 15px;
}

footer .container .container-bottom .content-right {
  text-align: right;
}

footer .container .container-bottom .content-right span {
  font-weight: 700;
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  footer .container .container-bottom .content-right span {
    font-size: 12px;
  }
}

#menu, .sub-menu {
  display: none;
  list-style: none;
}

ul#menu {
  padding: 70px 40px 15px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #6a4eba;
  bottom: 0;
  top: 0;
  text-align: right;
  height: 100vh;
}

ul#menu li {
  padding: 3px 0;
  margin: 5px 0;
}

ul#menu li a {
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 0;
  display: inline-block;
}

/*Change toggle size by adjusting width & height*/
.tb-menu-toggle {
  border: 0;
  position: absolute;
  background: transparent;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 15px;
  z-index: 1000;
  right: 5px;
}

/*Change toggle color here*/
.tb-menu-toggle i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.tb-menu-toggle i:nth-child(2) {
  top: 40%;
}

.tb-menu-toggle i:nth-child(3) {
  top: 80%;
}

/*Animation of the toggle*/
.tb-menu-toggle.tb-animate-toggle i:first-child,
.tb-menu-toggle.tb-animate-toggle i:nth-child(2) {
  top: 40%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tb-menu-toggle.tb-animate-toggle i:nth-child(3) {
  top: 40%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}

.social-network {
  position: fixed;
  background-color: #301e79;
  z-index: 999;
  bottom: 10%;
  padding: 10px 18px 10px 8px;
  border-radius: 0 30px 30px 0;
}

.social-network a {
  display: block;
  margin-top: 5px;
}

.social-network a img {
  height: 30px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-container .swiper-wrapper {
  -webkit-transition-timing-function: cubic-bezier(0.8, 0.14, 0.94, 0.81);
          transition-timing-function: cubic-bezier(0.8, 0.14, 0.94, 0.81);
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0.39, 1);
          transition-timing-function: cubic-bezier(1, 0.01, 0.39, 1);
}

.swiper-container .swiper-wrapper .swiper-slide.animate-up .content-left {
  -webkit-transform: translateY(800px);
          transform: translateY(800px);
}

.swiper-container .swiper-wrapper .swiper-slide.animate-down .content-left {
  -webkit-transform: translateY(-800px);
          transform: translateY(-800px);
}

.swiper-container .swiper-wrapper .swiper-slide.transitioned .content-left {
  opacity: 1 !important;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.1s 0.01s ease;
  transition: all 0.1s 0.01s ease;
}

.swiper-container .swiper-wrapper .swiper-slide {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container .swiper-wrapper .swiper-slide .slide-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.98fr;
      grid-template-columns: 1fr 0.98fr;
  grid-gap: 10px;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .swiper-container .swiper-wrapper .swiper-slide .slide-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.swiper-container .swiper-wrapper .swiper-slide .slide-container .content-left {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 70px 1em 0 95px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .swiper-container .swiper-wrapper .swiper-slide .slide-container .content-left {
    padding-left: 85px;
  }
}

@media screen and (max-width: 800px) {
  .swiper-container .swiper-wrapper .swiper-slide .slide-container .content-left {
    width: 80%;
    margin-left: auto;
    padding: 10px 50px 0 0 !important;
  }
}

@media screen and (max-width: 500px) {
  .swiper-container .swiper-wrapper .swiper-slide .slide-container .content-left {
    padding: 0 20px 0 0 !important;
  }
}

.swiper-container .swiper-wrapper .swiper-slide .slide-container .content-left .line {
  height: 3px;
  width: 140px;
  background-color: #ff6471;
}

@media screen and (max-width: 500px) {
  .swiper-container .swiper-wrapper .swiper-slide .slide-container .content-left .line {
    width: 75px;
  }
}

.swiper-container .swiper-wrapper .swiper-slide .slide-container .content-left h3 {
  color: #301e79;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 3.4em;
  letter-spacing: -0.01em;
  line-height: 1.15em;
  padding: .5em 0 .5em;
}

@media screen and (max-width: 1200px) {
  .swiper-container .swiper-wrapper .swiper-slide .slide-container .content-left h3 {
    font-size: 2.6em;
  }
}

@media screen and (max-width: 1000px) {
  .swiper-container .swiper-wrapper .swiper-slide .slide-container .content-left h3 {
    font-size: 2em;
  }
}

@media screen and (max-width: 800px) {
  .swiper-container .swiper-wrapper .swiper-slide .slide-container .content-left h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .swiper-container .swiper-wrapper .swiper-slide .slide-container .content-left h3 {
    font-size: 25px;
    font-weight: 800;
  }
}

.swiper-container .swiper-wrapper .swiper-slide .slide-container .content-left a {
  color: #706f6f;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1em;
  text-decoration: none;
}

.swiper-container .swiper-wrapper .swiper-slide .slide-container .content-left a span {
  color: #ff6471;
}

.swiper-container .swiper-wrapper .swiper-slide .slide-container .content-right {
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 500px) {
  .swiper-container .swiper-wrapper .swiper-slide .slide-container .content-right {
    margin-top: -50px;
  }
}

.swiper-container .swiper-wrapper .swiper-slide .slide-container .content-right .title {
  padding: .9em .8em .5em;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.swiper-container .swiper-wrapper .swiper-slide .slide-container .content-right .title h2 {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4.5em;
}

.swiper-container .swiper-pagination {
  -webkit-animation-name: meditation;
          animation-name: meditation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet {
  border: solid #301e79;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: 0.2em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-radius: 0 !important;
  background-color: transparent;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .swiper-container .swiper-pagination .swiper-pagination-bullet {
    background-color: #301e79;
    height: 15px;
    width: 15px;
  }
}

@media screen and (max-width: 500px) {
  .swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}

.swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-container .swiper-pagination .swiper-pagination-bullet:hover {
  border: solid #6a4eba;
  border-width: 0 0.21em 0.21em 0;
  display: inline-block;
  padding: 0.21em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.swiper-container .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  right: 52%;
  top: 95%;
}

.swiper-container span.swiper-pagination-bullet:last-child:after {
  content: "";
  width: 22px;
  height: 3px;
  background-color: #b3a0eb !important;
  position: absolute;
  opacity: 1 !important;
  -webkit-transform: rotate(-45deg) translateX(4px);
          transform: rotate(-45deg) translateX(4px);
  bottom: -11px;
}
/*# sourceMappingURL=slider.css.map */