@import 'common';

// SLIDER STYLES

.swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;

	.swiper-wrapper{
		transition-timing-function: cubic-bezier(0.8, 0.14, 0.94, 0.81);
		transition-timing-function: cubic-bezier(1, 0.01, 0.39, 1);

		.swiper-slide.animate-up .content-left {
			transform: translateY(800px);
		}
		
		.swiper-slide.animate-down .content-left {
			transform: translateY(-800px);
		}
		
		.swiper-slide.transitioned .content-left {
			opacity: 1 !important;
			transform: translateY(0px);
			transition: all 0.1s 0.01s ease;
		}

		.swiper-slide {
			background-color: $white;
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			flex-direction: column;

			.slide-container {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 10px;
				height: 100%;

				@media screen and (max-width: 800px) {
					grid-template-columns: 1fr;
					grid-gap: 0;
				}

				.content-left {
					-ms-flex-item-align: center;
					-ms-grid-row-align: center;
					align-self: center;
					padding: 0 2.5em;
					-webkit-transition:all 0.3s linear;
					-moz-transition:all 0.3s linear;
					-o-transition:all 0.3s linear;
					-ms-transition:all 0.3s linear;    
					transition:all 0.3s linear;
					opacity: 0;
					padding-top: 80px;

					@media screen and (max-width: 800px) {
						width: 80%;
						margin-left: auto;
						padding: 10px 50px 0 0 !important;
					}

					@media screen and (max-width: 500px) {
						padding: 0 20px 0 0 !important;
					}
					
					.line {
						height: 3px;
						width: 140px;
						background-color: $red;

						@media screen and (max-width: 500px) {
							width: 75px;
						}
					}

					h3 {
						color: $purple;
						font-family: $fontSourceSans;
						font-weight: 900;
						font-size: 3.5em;
						letter-spacing: -0.01em;
						line-height: 1.15em;
						padding: .5em 0 .5em;

						@media screen and (max-width: 1200px) {
							font-size: 3em;
						}

						@media screen and (max-width: 800px) {
							font-size: 28px;
						}

						@media screen and (max-width: 500px) {
							font-size: 25px;
							font-weight: 800;
						}
					}

					a {
						color: $gray;
						font-family: $fontSourceSans;
						font-size: 1.1em;
						text-decoration: none;

						span {
							color: $red;
						}
					}
				}

				.content-right {
					text-align: center;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
					position: relative;

					@media screen and (max-width: 500px) {
						margin-top: -50px;
					}

					.title {
						padding: .9em .8em .5em;
						display: inline-block;
						position: absolute;
						left: 50%;
						top: 55%;
						-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);

						h2 {
							color: $white;
							font-family: $fontSourceSans;
							font-size: 4.5em;
						}
					}
				}
			}
		}
	}

	.swiper-pagination {
		.swiper-pagination-bullet {
			border-radius: 50%;
			box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
			-webkit-transition: box-shadow 0.3s ease;
			transition: box-shadow 0.3s ease;
			background: transparent;
			padding: 0;
			text-indent: -999em;
			background: $white;
			position: relative;
			margin: 5px 0;
			opacity: 1 !important;
			height: 17px;
			width: 17px;

			@media screen and (max-width: 800px) {
				background-color: $purple;
				height: 15px;
				width: 15px;
			}

			@media screen and (max-width: 500px) {
				width: 12px;
				height: 12px;
			}
		}

		.swiper-pagination-bullet:before {
			content: "";
			-webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
			transition: background-color 0.3s ease, transform 0.3s ease;
			top: 0;
			left: 0;
			width: 15px;
			height: 15px;
			outline: none;
			border-radius: 50%;
			background-color: $white;
			text-indent: -999em;
			cursor: pointer;
			position: absolute;

			@media screen and (max-width: 800px) {
				background-color: $purple;
				width: 13px;
				height: 13px;
			}

			@media screen and (max-width: 500px) {
				width: 12px;
				height: 12px;
			}
		}
		
		.swiper-pagination-bullet.swiper-pagination-bullet-active,
		.swiper-pagination-bullet:hover {
			box-shadow: 0 0 0 1px $white;
			border: none;
			border-radius: 50%;
			background: transparent;

			@media screen and (max-width: 800px) {
				box-shadow: 0 0 0 1px $purple;
			}
		}
		
		.swiper-pagination-bullet.swiper-pagination-bullet-active:before, 
		.swiper-pagination-bullet:hover:before {
			transform: scale(0.75);
			-webkit-transform: scale(0.75);
			background-color: $white;
			top: 1.5px;
			left: 1.5px;

			@media screen and (max-width: 800px) {
				background-color: $purple;
				transform: scale(0.8);
				-webkit-transform: scale(0.8);
				top: 0.8px;
				left: 0.8px;
			}

			@media screen and (max-width: 500px) {
				top: 0.5px;
				left: 0.5px;
			}
		}
	}

	.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
		right: 47%;
		top: 55%;

		@media screen and (max-width: 800px) {
			right: 4%;
			top: 40%;
		}

		@media screen and (max-width: 500px) {
			right: 93%;
			top: 29%;
		}
	}

	.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 35px 0 !important;

		@media screen and (max-width: 800px) {
			margin: 25px 0 !important;
		}

		@media screen and (max-width: 500px) {
			margin: 20px 0 !important;
		}
	}
}